nb-select.operator-select ::ng-deep {
  .select-button {
    min-width: 0;
  }
}

.q-field-control {
  display: inline-block;
  padding: 5px 8px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: auto;
}
.q-operator-control, .q-field-control,.q-entity-control, .q-input-control:not([type='checkbox']) {
min-height: 32px;
min-width: 320px;
-webkit-appearance: none;
}
