<nb-card>
    <nb-card-header>{{title}}</nb-card-header>
    <nb-card-body>
        <form [formGroup]="formGroup">
            <!-- Referance Table -->
            <div class="form-group mb-3">
                <label class="label" for="table">Referance table</label>
                <ng-select placeholder="Table" id="table" fullWidth formControlName="tableCtrl">
                    <ng-option *ngFor="let table of tables" [value]="table">{{table}}</ng-option>
                </ng-select>
            </div>
            <!-- Referance Table Alias -->
            <div class="form-group mb-3">
                <label class="label" for="alias">Table Alias</label>
                <input placeholder="Alias" id="alias" fullWidth formControlName="aliasCtrl" />
            </div>
            <!-- Columns to Load -->
            <div class="form-group mb-3">
                <label class="label" for="name">Use column(s)</label>
                <ng-select id='selectedColumns' class="q-field-control" formControlName="selectCtrl" [multiple]="true"
                    [compareWith]="compareSelectedColumns">
                    <ng-option *ngFor="let opt of joinColumns" [value]="opt">
                        {{opt.name}}
                    </ng-option>
                </ng-select>
                <!--nb-select placeholder="Column" id="name" fullWidth formControlName="selectCtrl" multiple>
                    <nb-option *ngFor="let col of joinColumns" [value]="col">{{col.name}}</nb-option>
                </nb-select-->
            </div>

        </form>
        <!-- Join Ruleset -->
        <div class="form-group mb-3">
            <label class="label" for="table">Join Rules</label>
            <query-builder [(ngModel)]="joinRules" [config]='joinRuleSetConfig'>

                <ng-container *queryInput="let rule; let field=field; let options=options; type: 'open-category'">
                    <ng-container *ngIf="rule.value.compareAgainst === 'column'; then columnMode else openEndedInput">
                    </ng-container>
                    <ng-template #columnMode>
                        <div class="q-control-size">
                            <ng-select class="q-field-control" [(ngModel)]="rule.value.compareValue"
                                [compareWith]="compareInputColumns" appendTo="body"ß>
                                <ng-option *ngFor="let opt of options" [value]="opt">
                                    {{opt.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                        <!--nb-select fullWidth [(ngModel)]="rule.value.compareValue">
                            <nb-option *ngFor="let option of viewColumns" [value]="option">
                                {{columnVisibleName(option)}}
                            </nb-option>
                        </nb-select-->
                    </ng-template>
                    <ng-template #openEndedInput>
                        <input type="text" [(ngModel)]="rule.value.compareValue" />

                    </ng-template>

                    <ng-select [(ngModel)]="rule.value.compareAgainst"
                        (ngModelChange)="onChangeComparisonMode($event, rule)" appendTo="body">
                        <ng-option value="column">Column Mode</ng-option>
                        <ng-option value="string">Value</ng-option>
                    </ng-select>


                    <!--mat-form-field>
                            <mat-select>
                                <mat-option *ngFor="let option of viewColumns" [value]="option.column.name">
                                    test
                                </mat-option>
                            </mat-select>
                        </mat-form-field-->


                </ng-container>
                <!-- Operator override -->
                <!--ng-container *queryOperator="let rule; let operators=operators">
                    <nb-select class="operator-select" [(ngModel)]="rule.operator">
                        <nb-option *ngFor="let value of operators" [value]="value">{{value}}</nb-option>
                    </nb-select>
                </ng-container-->
                <!-- Field override -->
                <!--ng-container *queryField="let rule; let fields=fields; let onChange=onChange">
                    <nb-select [(ngModel)]="rule.field">
                        <nb-option *ngFor="let field of fields" [value]="field.name">{{field.name}}</nb-option>
                    </nb-select>
                </ng-container-->
            </query-builder>
        </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
        <button nbButton hero status="danger" size="small" (click)="ref.close(false)" class="mr-3">
            <nb-icon icon="close"></nb-icon>
            Cancel
        </button>
        <button nbButton hero status="success" size="small" (click)="save()" [disabled]="!formGroup.valid">
            <nb-icon icon="plus"></nb-icon>
            Save
        </button>
    </nb-card-footer>
</nb-card>